$fa-font-path:"@fortawesome/fontawesome-free/webfonts";

// Bootstrap Colors
$primary: #ff8800;
$dark: #17191b;

// Custom colors
$white:rgb(255, 255, 255);
$white-faded: #ffffff;
$dark-faded: #30373f;
$primary-faded: #0059ff;

// Typography
$font-lato: 'Lato', sans-serif;
$font-ysabeau: 'Ysabeau', sans-serif;
$font-patua-one: 'Patua One', sans-serif;
$font-family-base: $font-lato;
$headings-font-family: $font-patua-one;
$subheadings-font-family: $font-ysabeau;

